<%- include('admin-partials/header.ejs') %>


<style>
   .badge.shade-yellow {
      background-color: #FFD700;
      /* Yellow */
      color: #000;
      /* Black */
      border: 1px solid #FFD700;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .badge.shade-grey {
      background-color: #808080;
      /* Grey */
      color: #FFF;
      /* White */
      border: 1px solid #808080;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .badge.shade-green {
      background-color: #008000;
      /* Green */
      color: #FFF;
      /* White */
      border: 1px solid #008000;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .badge.shade-blue {
      background-color: #0000FF;
      /* Blue */
      color: #FFF;
      /* White */
      border: 1px solid #0000FF;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .badge.shade-red {
      background-color: #FF0000;
      /* Red */
      color: #FFF;
      /* White */
      border: 1px solid #FF0000;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .badge.shade-orange {
      background-color: #ff6b26;
      /* Orange */
      color: #FFF;
      /* White */
      border: 1px solid #ff6b26;
      padding: 5px 10px;
      border-radius: 5px;
   }
</style>

<div class="screen-overlay"></div>

<aside class="navbar-aside" id="offcanvas_aside">
   <div class="aside-top">
      <a href="/" class="brand-wrap">
         <img src="/assets/imgs/theme/logo.svg.png" class="logo" alt="HomeWorld Dashboard">
     </a>
      <div>
         <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
         </button>
      </div>
   </div>
   <nav>
      <ul class="menu-aside">
         <li class="menu-item ">
            <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
                <span class="text">User Management</span>
            </a>
        </li>

        <li class="menu-item has-submenu">
            <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>
            <div class="submenu">
                <a href="page-products-list.html">Product List</a>
                <a href="page-categories.html">Categories</a>
            </div>
        </li>

        <li class="menu-item active">
            <a class="menu-link" href="/admin/order-management"> <i
                    class="icon material-icons md-shopping_cart"></i>
                <span class="text">Order Management</span>
            </a>
        </li>
        
        <li class="menu-item">
            <a class="menu-link" href="/admin/coupon-management"> <i class="icon material-icons md-redeem"></i>
                <span class="text">Coupon Management</span>
            </a>
        </li>
         
      </ul>
      
      <br>
      <br>
   </nav>
</aside>

<main class="main-wrap">
   <header class="main-header navbar">
      
      <div class="col-nav ms-auto">
         <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                 class="material-icons md-apps"></i> </button>
         <ul class="nav">
             
             <li class="nav-item">
                 <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
             </li>

             <li class="dropdown nav-item">
                 <a class="dropdown-item text-danger" href="/admin/logout"><i
                     class="material-icons md-exit_to_app"></i>Logout</a>
             </li>
         </ul>
     </div>
   </header>
   <section class="content-main">
      <div class="content-header">
         <div>
            <h2 class="content-title card-title">Order Management</h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
         </div>
         
      </div>
      

      <div class="container rounded  ">
         <div class="table-responsive ">
            <table class="table table-hover">
               <thead class="border rounded">
                  <tr class="text-center">
                  <tr>
                     <th>S.No</th>
                     <th>Status</th>
                     <!-- <th>Ordered By</th> -->
                     <th>Purchased</th>
                     <th>Date</th>
                     <th>Price</th>
                     <th class="text-right">View</th>
                     <!-- <th class="text-right">Deleted</th> -->
                  </tr>
                  </tr>
               </thead>
               <tbody class="border rounded">
                  <% if(orders && orders.length > 0){ %>
                  <% orders.forEach((order, index) => { %>
                  <tr>
                     <td><%= (currentPage - 1) * perPage + index + 1 %></td>

                     <%
                              const statusColors = {
                                  "Pending": "yellow",
                                  "Processing": "grey",
                                  "Shipped": "blue",
                                  "Delivered": "green",
                                  "Canceled": "red",
                                  "Returned" : "orange"
                              };
                              %>
                     <td><span class="badge shade-<%= statusColors[order.status] %>"><%= order.status %></span></td>

                     
                     <td>
                        <% const totalQuantity = order.items.reduce((total, item) => total + item.quantity, 0); %>
                        <%= totalQuantity %> Items
                     </td>
                     <td><%= order.orderDate.toLocaleDateString() %></td>
                     <td class="text-bold">INR <%= order.billTotal %></td>
                     <td>
                        <a href="/admin/order-management/orderDetailedView/<%= order._id %>">
                           <div>
                              <button class="btn btn-success btn-small">
                                 <i class="fa-regular fa-eye" style="color: #ffff; height: 8px;"></i>
                              </button>
                           </div>
                        </a>
                     </td>
                     <!-- <td>
                        <button class="btn btn-danger btn-small"
                           onclick="confirmDelete('<%= order._id %>')">Delete</button>
                     </td> -->


                  </tr>
                  <% }) } else{ %>

                  <tr>
                     <td colspan="9" class="text-center">No orders Found</td>
                  </tr>
                  <% } %>
                  
               </tbody>
               
            </table>
             <!-- pagination -->
      <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
               <% if (currentPage > 1) { %>
               <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>"><i
                        class="material-icons md-chevron_left"></i></a>
               </li>
               <% } %>

               <% for (let i = Math.max(1, currentPage - 2); i <= Math.min(currentPage + 2, totalPages); i++) { %>
               <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
               </li>
               <% } %>

               <% if (currentPage < totalPages) { %>
               <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>"><i
                        class="material-icons md-chevron_right"></i></a>
               </li>
               <% } %>
            </ul>
         </nav>
      </div>
            
         </div>
        

      </div>

      





   </section> <!-- content-main end// -->



   <%- include('admin-partials/footer.ejs') %>